<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--Sign in-->
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.SignInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--filter check exist session for sign in-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.pravvich.servlets.filters.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>


    <!--logout-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


    <!--Homepage.-->
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.adminServlet.AdminHomePageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    


    <!--Add user in database.-->
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.adminServlet.AddUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addition</url-pattern>
    </servlet-mapping>


    <!--Find user by id-->
    <servlet>
        <servlet-name>FindUserServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.adminServlet.FindUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FindUserServlet</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>


    <!--Delete user by id-->
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.adminServlet.DeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>


    <!--Edition user-->
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.adminServlet.EditUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>


    <!--User menu-->
    <servlet>
        <servlet-name>UserMenuServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.userServlet.UserMenuServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserMenuServlet</servlet-name>
        <url-pattern>/user_menu</url-pattern>
    </servlet-mapping>


    <!--Edit profile-->
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.userServlet.EditProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/edit_profile</url-pattern>
    </servlet-mapping>


    <!--Notify about result user's action-->
    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.AnswerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/answer</url-pattern>
    </servlet-mapping>


    <!--Get all users which contains in database-->
    <servlet>
        <servlet-name>GetAllUsersServlet</servlet-name>
        <servlet-class>ru.pravvich.servlets.adminServlet.GetAllUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllUsersServlet</servlet-name>
        <url-pattern>/getall</url-pattern>
    </servlet-mapping>
</web-app>